@import url(./src/common/navbar/navbar.css);
@import url(./src/common/categoryCard/style.css);
@import url(./src/common/auctionCard/style.css);
@import url(./src/components/home/style.css);
@import url(./src/components/activeAuctions/style.css);
@import url(./src/components/login/style.css);
@import url(./src/components/profile/style.css);
@import url(./src/components/register/style.css);
@import url(./src/components/categories/style.css);


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header {
    width: 100%;
    height: 55px;
    background-color: #343a40;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 20px 20px 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
}

.card h2 {
    margin-top: 0;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.secondary-btn {
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}