.category-card {
    position: relative;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: #fff;
    cursor: pointer;
}

#cate-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

#cate-img:hover {
    filter: brightness(70%);
}

.category-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 1;
}