.auction-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 390px;
    margin: 0 15px 25px 0;
}

.tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.product-category {
    height: 20px;
    width: fit-content;
    background-color: cornflowerblue;
    color: white;
    padding: 5px 15px;
    margin: 5px 0;
    border-radius: 3px;
}

.active-auction {
    height: 20px;
    width: fit-content;
    background-color: lightgreen;
    color: black;
    padding: 5px 15px;
    margin: 5px 0;
    border-radius: 3px;
}

.card-btn {
    width: 90%;
    margin: 20px;
}

.card-btn:hover {
    background-color: #e3e3e3;
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.description-container {
    position: relative;
    height: 110px;
    overflow: hidden;
    margin: 0 0 10px 0;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    padding: 0 8px;
}

.product-description {
    font-size: 1em;
    line-height: 1.3;
}

.description-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px; /* Ajusta según necesites */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.product-info,
.auction-info {
    padding: 0 20px;
}

.value-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.info-section {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.value-label {
    color: slategray;
    font-size: 12px;
}
