<div class="register-container">
    <h1>Crear nuevo usuario</h1>
    <form id="registerForm">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="surname">Apellido:</label>
            <input type="text" id="surname" name="surname" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="passwordConf">Confirmar Contraseña:</label>
            <input type="password" id="passwordConf" name="passwordConf" required>
        </div>
        <div class="form-group">
            <label for="birthday">Fecha de Nacimiento:</label>
            <input type="date" id="birthday" name="birthday" required>
        </div>
        <div class="form-group">
            <label for="address">Dirección:</label>
            <input type="text" id="address" name="address" required>
        </div>
        <div class="form-group">
            <label for="country">País:</label>
            <input type="text" id="country" name="country" required>
        </div>
        <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea id="description" name="description"></textarea>
        </div>
        <div class="form-group form-check">
            <label for="isStore">¿Eres una tienda?</label>
            <input type="checkbox" id="isStore" name="isStore">
        </div>
        <button type="submit" class="btn">Registrarse</button>
    </form>
    <div id="errorMessages" style="color: red;"></div>
</div>